.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: var(--color-black);
}

.title__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 126%;
  color: var(--color-grey);
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--color-white);
  }
}

.title__link-inner {
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 8px 16px;

  height: 36px;
  text-align: center;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: var(--color-green);
  }
}
